<h3>Neighborhoods</h3>
<button class="btb btn-outline-info p-1" (click)="findNeighborhood()">Neighborhoods</button>

<div *ngIf="neighborhood.length>0">
<ul *ngFor="let neighborhood of neighborhood">
  <li>name:{{neighborhood.name}}</li>
  <li>neighborhood desc: {{neighborhood.neighborhood_desc}}</li>
  <li>location: {{neighborhood.location}}</li>
</ul>
</div>

<form #neighborhoodPost="ngForm" (ngSubmit)="onSubmit(neighborhoodPost.value)" method="POST">
  <input type="text" name="name" ngModel placeholder="neighborhood name"><br>
  <input type="text" name="neighborhood_desc" ngModel placeholder="neighborhood description"><br>
  <input type="text" name="location" ngModel placeholder="location"><br>

  <button type="submit">Add Neighborhood</button>
</form>

<h4>Update Neighborhood</h4>
<form #updateneighborhood="ngForm" (ngSubmit)="updateneighborHood(updateneighborhood.value.id,updateneighborhood.value)" method="POST">
  <input type="number" name="id" ngModel placeholder="id"><br>
  <input type="text" name="name" ngModel placeholder="hood name"><br>
  <input type="text" name="neighborhood_desc" ngModel placeholder="Description"><br>
  <input type="text" name="location" ngModel placeholder="location"><br>

  <button type="submit">Update</button>
</form>
