<div style="padding-left: 35px;">
  <div class="page-headings style2">
    <hr />
    <h1 class="heading-x-large">
      A web application that allows you to be in the loop
      about everything happening in your neighborhood.
    </h1>
    <p>
      A meeting point, where people from different neighborhoods
      find information, connect, and share
      events and news. From<strong>
        contact information</strong> of different handymen
      to<strong> meeting announcements</strong> or <strong>alerts</strong>,
      there is something for everyone.
    </p>
  </div>
</div>

