<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>
      <strong>Create Account</strong>
      <form>
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">Username</label>
          <input
            [(ngModel)]="model.username"
            name="username"
            required
            type="text"
            class="form-control"
            id="loginUsername"
            placeholder="Enter username"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            [(ngModel)]="model.email"
            name="email"
            required
            type="email"
            class="form-control"
            id="loginEmail"
            placeholder="Email"
          />
        </div>
        <div class="mb-3">
          <label for="RegisterPassword" class="form-label">Password</label>
          <input
            [(ngModel)]="model.password"
            name="password"
            required
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="mb-3">
          <label for="RegisterPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            [(ngModel)]="model.password2"
            name="password2"
            required
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>

        <button
          (click)="register()"
          routerLink="/login"
          class="btn btn-info"
        >
          Register <i class="fas fa-sign-in-alt"></i>
        </button>
      </form>
    </h3>
  </div>
</div>
