<div class="row yoh">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>
      <strong>Login Page</strong>
      <form>
        <div class="mb-3 mt-3">
          <label for="LoginUsername" class="form-label">Username</label>
          <input
            name="username"
            [(ngModel)] = "model.username"
            required
            type="text"
            class="form-control"
            id="loginUsername"
            placeholder="Enter username"
          />
        </div>
        <div class="mb-3">
          <label for="LoginPassword" class="form-label">Password</label>
          <input
            name="password"
            [(ngModel)] = "model.password"
            required
            type="password"
            class="form-control"
            id="loginPassword"
            placeholder="Password"
          />
        </div>

        <button type="submit" (click)="login()" routerLink="/homepage" class="btn btn-info">
          Login <i class="fas fa-sign-in-alt"></i>
        </button>
      </form>
    </h3>
  </div>
</div>
