<footer class="mt-5 text-center navbar-dark bg-dark">

  <!-- Social icons -->
  <div class="socials">
    <a class="sb" href="https://www.facebook.com/" target="_blank">
      <i class="circle-link fab fa-facebook-f mr-3"></i>
    </a>

    <a class="sb" href="https://twitter.com/" target="_blank">
      <i class="circle-link fab fa-twitter mr-3"></i>
    </a>

    <a class="sb" href="https://www.youtube.com/" target="_blank">
      <i class="circle-link fab fa-youtube mr-3"></i>
    </a>

    <a class="sb" href="https://plus.google.com/" target="_blank">
      <i class="circle-link fa fa-envelope mr-3"></i>
    </a>

    <a class="sb" href="circle-link https://pinterest.com/" target="_blank">
      <i class="circle-link fab fa-pinterest mr-3"></i>
    </a>

    <a class="sb" href="https://github.com/" target="_blank">
      <i class="circle-link fab fa-github mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="copyright py-3">
    © 2021 Copyright:
    <a class="sb" href="#" target="_blank"><span class="ian">Ian Kiplagat</span></a>
  </div>
  <!--/.Copyright-->
</footer>
