.socials {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.mt {
  margin-top: 100px;
}

.circle-link {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.copyright {
  color: white;
}

.ian:hover {
  color: white;
}

a.sb {
  color: #10CAF0;
  text-decoration: none;
}

a.sb:hover {
  color: black;
  text-decoration: none;
}

